// .specificationsLi {
//   font-family: 'adihausDINRegular';
//   font-size: 16px;
//   line-height: 22px;
//   margin-bottom: 20px;
//   margin-left: 15px;
//   display: list-item;
// }

.row {
  font-family: 'adihausDINRegular';
  font-size: 16px;
  line-height: 22px;
  list-style-position: outside;
  display: flex;
  margin-left: 4.16667%;
  width: 91.66667%;
  margin: 0px 0px;
  // float: left;
  padding: 0 15px;
}

.col {
  max-width: 50%;
  // margin-block-start: 1em;
  // margin-block-end: 1em;
  // margin-inline-start: 0px;
  // margin-inline-end: 0px;
  // padding-inline-start: 40px;
}

.item {
  display: list-item;
  margin-bottom: 20px;
  margin-left: 15px;
}


// .column {
//   flex: 50%;
//   padding: 10px;
// }