@mixin test($order) {
  order: $order;
}


.product_card_container {
  padding: 0 5px;
  width: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.product_card {
  background-color: #fff;
  cursor: pointer;
  position: relative;
  width: 100%;
  color: #000;
  border: 1px solid transparent;
  margin: 20px 20px;
}

.product_card_container_left {
  transform: translateX(-100%);
  padding: 0 5px;
  width: 25%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.img_wrap{
  position: relative;
  display: block;
}

.img_indi { 
  width: 100%;
  height: auto;
}

.img_heart {
  position: absolute;
  bottom: 40%;
  right: 4%;
}

.stars {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: white;
  overflow: hidden;

}
.fullStars {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #767677;
  width: 50%;
}

.emptyStars:before, .fullStars:before {
content:"\2605\2605\2605\2605\2605";
font-size: 6pt;
}
.emptyStars:before {
-webkit-text-stroke: 1px #767677;
}
.fullStars:before {
-webkit-text-stroke: 1px #767677;
}


// .product_card {
//   background-color: #fff;
//   cursor: pointer;
//   position: relative;
//   width: 100%;
//   color: #000;
//   border: 1px solid transparent;
//   margin: 20px 20px;
// }

.prodcut_card_detail_container {
  margin: 20px 20px;
  // display: flex;
  font-family: 'adihausDINRegular';
  font-size: 12px;
  min-height: 75px;
  padding: 8px 8px 15px;
}

.product_card:hover {
  border: 1px solid black;
}

.product_card_subClasses {
  color: #767677;
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  min-height: 17px;
}

.product_card_detail_main {
  height: 60px;
  line-height: normal;
}

.product_card_product_name {
  margin-bottom: 5px;
  letter-spacing: .5px;
  margin: 0 0 5px;
  max-height: 30px;
  overflow: hidden;
}
