* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h4 {
  letter-spacing: 1.5px;
  font-size: 26px;
  display: inline-block;
  margin: 0px 0px 20px;
  width: 50%;
}

.pddMain {
  margin: 0px 0px 0px 0px;

}

h5 {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 16px;
  width: 50%;
  display: inline-block;
}

p {
  box-sizing: border-box;
  width: 50%;
  border: 1px solid black;
  flex: 0 1 50%;
  font-family: 'adihausDINRegular';
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid blue;
}

.imageContainer {
  border: 1px solid black;
  flex: 0 1 50%;
  /* align-items: ; */
  /* width: 50%; */
}

.image {
  width: 100%;
  height: auto;
  
  /* max-width: 640px; */
}

/* .column {
  flex: 50%;
  padding: 10px;
} */